<%- include("partials/header") -%>
<form action = '/create' method = 'POST' >
<label>Calories (Per 100g):</label><input type = "number" name = "calories" autocomplete="off" step = "any">
<button type="submit" class = "btn btn-primary">Submit</button>
</form>


<%- include("partials/footer") -%>