<%- include("partials/header") -%>
    <h1 class = "top-head">Database</h1>
    <div class = "index-btns">
        <form action = "/food" method = "get">
            <button type="submit" class = "btn btn-primary">Food Items</button>
        </form>
        <form  action = "/meals" method = "get">
            <button type="submit" class = "btn btn-primary">Meals</button>
        </form>
        <form action = "/users" method = "get">
            <button type="submit" class = "btn btn-primary">Users</button>
        </form>
        <form action = "/create" method = "get">
            <button type="submit" class = "btn btn-primary">Create meal</button>
        </form>
    </div>

<%- include("partials/footer") -%>